@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBEBEB;}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
span, p, h1,h2, h3, h4, h5 ,h6{
  margin: 0 !important;
}
h1{
  font-family: 'Bebas Neue', sans-serif;
  /* font-weight: 900; */
}
.social-link{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400 !important;
}
h2{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
}
.email-link{
  color: rgb(0, 105, 255) !important;
}